<template> 
        <template if:true={paginationReady}>
            <div style="margin:auto;width:600px;">
                <lightning-layout multiple-rows> 
                    <lightning-layout-item padding="horizontal-small">  
                        <lightning-button label="Primera" icon-name="utility:chevronleft" onclick={handleFirst}  disabled={showFirstButton}></lightning-button>  
                        </lightning-layout-item>
                    <lightning-layout-item>  
                        <lightning-button label="Anterior" icon-name="utility:chevronleft" onclick={handlePrevious} disabled={showFirstButton}></lightning-button>  
                        </lightning-layout-item> 
                    <lightning-layout-item size="3">   
                        <p class="slds-m-top_x-small content" style="text-align:center"></b> Página <b>{currentpage}</b></p> 
                    </lightning-layout-item>
                    <lightning-layout-item>  
                        <lightning-button label="Siguiente" icon-name="utility:chevronright" icon-position="right" onclick={handleNext} disabled={nextButtonDisabled}></lightning-button>  
                    </lightning-layout-item>  
                </lightning-layout>   
            </div> 
        </template>
    </template>