.toast-show {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.toast-hide {
    opacity: 0;
    transition-property: opacity ;
    transition-duration: 0.3s;
}

.toast-floating{
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}