<template>
    <div>
        <c-custom-toast title={toastTitle} message={toastMessage} variant={toastVariant} auto-close={toastAutoClose}>
        </c-custom-toast>
        <c-archived-email-header account-id={accountId} contact-id={contactId}></c-archived-email-header>
    </div>
    <c-archived-email-list account-id={accountId} contact-id={contactId}></c-archived-email-list>

</template>