<template>
    <div class="slds-p-top_medium slds-p-bottom_small slds-p-horizontal_large">
        <lightning-card class="slds-p-around_medium slds-card_boundary">
            <div class="slds-p-around_medium">
                <div class="slds-m-vertical_medium slds-m-horizontal--x-large">

                    <div class="slds-text-heading_large slds-m-bottom_medium">
                        <lightning-icon icon-name="utility:search" class="slds-m-right_medium"></lightning-icon>

                        <template if:true={account}>
                            <b>Búsqueda de emails enviados para {account.fields.Name.value}</b>
                        </template>
                        <template if:false={account}>
                            <b>Búsqueda de emails enviados</b>
                        </template>

                        <lightning-button-icon icon-name="utility:expand_all" onclick={handleExpandAllClick}
                            alternative-text="Expandir todas las secciones"
                            class="slds-m-left_x-large slds-m-right_xx-small"></lightning-button-icon>
                        <lightning-button-icon icon-name="utility:collapse_all" onclick={handleCollapseAllClick}
                            alternative-text="Contraer todas las secciones"></lightning-button-icon>
                    </div>

                    <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>

                        <lightning-accordion-section class="slds-m-vertical--x-small" name="A"
                            label="Fechas de búsqueda">

                            <lightning-layout>
                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-combobox name="searchDates" label="Período de búsqueda"
                                        class="slds-m-bottom_x-small" value={searchDates}
                                        placeholder="Seleccione un periodo para buscar" options={searchDatesOptions}
                                        onchange={handleSearchDatesChanged} field-level-help={searchDatesHelp}>
                                    </lightning-combobox>
                                </lightning-layout-item>

                                <template if:true={searchDatesVisible}>
                                    <lightning-layout-item size="2" padding="horizontal-small">
                                        <lightning-input type="date" value={startDate} onchange={handleStartDateChanged}
                                            name="startDate" label="Fecha inicio de búsqueda"
                                            class="slds-m-bottom_x-small" required field-level-help={startDateHelp}
                                            autocomplete="off">
                                        </lightning-input>
                                    </lightning-layout-item>

                                    <lightning-layout-item size="2" padding="horizontal-small">
                                        <lightning-input type="date" value={endDate} onchange={handleEndDateChanged}
                                            name="endDate" label="Fecha fin de búsqueda" class="slds-m-bottom_x-small"
                                            required autocomplete="off" field-level-help={endDateHelp}>
                                        </lightning-input>
                                    </lightning-layout-item>
                                </template>

                            </lightning-layout>

                        </lightning-accordion-section>
                        <lightning-accordion-section class="slds-m-vertical--x-small" name="B"
                            label="Información personal del usuario">
                            <lightning-layout multiple-rows>
                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="text" value={name} onchange={handleNameChanged}
                                        onkeyup={onKeyUp} label="Nombre" name="name" class="slds-m-bottom_x-small"
                                        autocomplete="off" field-level-help={nameHelp}>
                                    </lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="3" padding="horizontal-small">
                                    <lightning-input type="text" value={surname} onchange={handleSurnameChanged}
                                        onkeyup={onKeyUp} label="Apellidos" name="surname" class="slds-m-bottom_x-small"
                                        autocomplete="off" field-level-help={surnameHelp}>
                                    </lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="3" padding="horizontal-small">
                                    <lightning-input type="email" value={email} onchange={handleEmailChanged}
                                        onkeyup={onKeyUp} label="Email" name="email" class="slds-m-bottom_x-small"
                                        autocomplete="off" field-level-help={emailHelp}>
                                    </lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="text" value={ibPlus} onchange={handleIbPlusChanged}
                                        onkeyup={onKeyUp} label="ID Iberia Plus" name="ibPlus"
                                        class="slds-m-bottom_x-small" autocomplete="off"
                                        field-level-help={ibPlusHelp}>
                                    </lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-accordion-section>

                        <lightning-accordion-section class="slds-m-vertical--x-small" name="C"
                            label="Información del vuelo">
                            <lightning-layout multiple-rows>
                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="date" value={flightDate} onchange={handleFlightDateChanged}
                                        name="flightDate" onkeyup={onKeyUp} label="Fecha de vuelo"
                                        class="slds-m-bottom_x-small" autocomplete="off"
                                        field-level-help={flightDateHelp}>
                                    </lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="text" value={flightNumber}
                                        onchange={handleFlightNumberChanged} name="flightNumber" onkeyup={onKeyUp}
                                        label="Número de vuelo" class="slds-m-bottom_x-small" autocomplete="off"
                                        field-level-help={flightNumberHelp}></lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="text" value={pnrAmadeus} onchange={handlePnrAmadeusChanged}
                                        onkeyup={onKeyUp} label="PNR Amadeus" name="pnrAmadeus"
                                        class="slds-m-bottom_x-small" autocomplete="off"
                                        field-level-help={pnrAmadeusHelp}>
                                    </lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="text" value={pnrResiber} onchange={handlePnrResiberChanged}
                                        onkeyup={onKeyUp} label="PNR Resiber" name="pnrResiber"
                                        class="slds-m-bottom_x-small" autocomplete="off"
                                        field-level-help={pnrResiberHelp}>
                                    </lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="text" value={tkt} onchange={handleTktChanged}
                                        onkeyup={onKeyUp} label="TKT" name="tkt" class="slds-m-bottom_x-small"
                                        autocomplete="off" field-level-help={tktHelp}></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-accordion-section>

                        <lightning-accordion-section class="slds-m-vertical--x-small" name="D"
                            label="Información de sistema">
                            <lightning-layout multiple-rows>
                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-combobox name="emailType" label="Tipo de email" value={emailType}
                                        placeholder="Seleccione tipo de email" options={emailTypeOptions}
                                        onchange={handleEmailTypeChanged} autocomplete="off"
                                        field-level-help={emailTypeHelp}>
                                    </lightning-combobox>
                                </lightning-layout-item>
                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="number" value={jobID} onchange={handleJobIdChanged}
                                        name="jobID" onkeyup={onKeyUp} label="ID Job" class="slds-m-bottom_x-small"
                                        autocomplete="off" field-level-help={jobIdHelp}>
                                    </lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="2" padding="horizontal-small">
                                    <lightning-input type="text" value={goldenRecord}
                                        onchange={handleGoldenRecordChanged} onkeyup={onKeyUp} label="Golden Record"
                                        name="goldenRecord" class="slds-m-bottom_x-small" autocomplete="off"
                                        field-level-help={goldenRecordHelp}></lightning-input>
                                </lightning-layout-item>
                                <template if:true={accountId}>
                                    <lightning-layout-item size="2" padding="horizontal-small">
                                        <lightning-input type="text" value={contactKey}
                                            onchange={handleContactKeyChanged} name="contactKey" onkeyup={onKeyUp}
                                            label="Contact key" class="slds-m-bottom_x-small" autocomplete="off">
                                        </lightning-input>
                                    </lightning-layout-item>
                                </template>
                            </lightning-layout>
                        </lightning-accordion-section>
                    </lightning-accordion>

                    <div class="slds-m-top_large slds-m-bottom_x-large">
                        <lightning-button variant="brand" label="Buscar" icon-name="utility:search" icon-position="left"
                            onclick={handleSearchClick} class="slds-m-left_x-small" disabled={loading}>
                        </lightning-button>

                        <lightning-button variant="destructive" label="Limpiar campos" icon-name="utility:delete"
                            icon-position="left" onclick={handleCancelClick} class="slds-m-left_x-small"
                            disabled={loading}>
                        </lightning-button>
                    </div>
                </div>
            </div>
            <template if:true={loading}>
                <div class="exampleHolder" style="width:100%;height:100%">
                    <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
                </div>
            </template>
        </lightning-card>
    </div>


</template>