<template>
    <template if:true={relatedLoading}>
        <div style="width:100%;height:150px">
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </div>
    </template>
    <template if:false={dataReady}>
        <template if:true={accountData}>
            <div class="slds-p-around_medium">
                <lightning-button variant="brand" label="Búsqueda avanzada" icon-name="utility:search"
                    icon-position="Right" onclick={handleAdvancedSearchClick} class="slds-m-left_x-small">
                </lightning-button>
            </div>
        </template>
    </template>
    <template if:true={dataReady}>
        <div class="slds-p-horizontal_large">
            <lightning-card class="slds-p-horizontal_medium slds-card_boundary">
                <div class="slds-p-around_medium">
                    <template if:false={loading}>
                        <template if:true={accountData}>
                            <div class="slds-p-around_medium">
                                <lightning-button variant="brand" label="Búsqueda avanzada" icon-name="utility:search"
                                    icon-position="Right" onclick={handleAdvancedSearchClick}
                                    class="slds-m-left_x-small">
                                </lightning-button>
                            </div>
                        </template>
                    </template>
                    <lightning-datatable hide-checkbox-column={hideCheckBoxColumn} key-field="id" data={data}
                        columns={columns} max-row-selection="1" onrowaction={handleRowActions}
                        onsort={updateColumnSorting} sorted-by={sortedBy} sorted-direction={sortedDirection}>
                    </lightning-datatable>

                    <div class="slds-m-around_medium">
                        <c-paginator currentpage={currentpage} pagination-ready={paginationReady} last-page={lastPage}
                            pagesize={pagesize}>
                        </c-paginator>
                    </div>
                </div>
                <template if:true={loading}>
                    <div style="width:100%;height:100%">
                        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
                    </div>
                </template>
            </lightning-card>
        </div>
    </template>

</template>