<apex:page StandardController="Account">

    <apex:includeScript value="/support/console/46.0/integration.js" />
    <apex:includeLightning />

    <div id="auraContainer" style="background-color: #fafaf9">
    </div>

    <script>

        var advancedSearchSubtabId;

        var tempEndDate = new Date(); // today
        var tempStartDate = new Date(tempEndDate);
        var offsetDays = 180;

        tempEndDate.setDate(tempEndDate.getDate() + 1);
        tempStartDate.setDate(tempStartDate.getDate() - offsetDays);

        let endDate = tempEndDate.toISOString().split("T")[0];
        let startDate = tempStartDate.toISOString().split("T")[0];

        $Lightning.use("c:emailListDependencies", function () {

            var jsonParams = {
                accountId: "{!Account.id}",
                goldenRecord: "{!JSENCODE(Account.R1_ACC_TXT_Id_Golden_record__c)}",
                email: "{!JSENCODE(Account.PersonEmail)}",
                iberiaPlus: "{!JSENCODE(Account.R1_ACC_TXT_Primary_FF_Card_CCPO__c)}",
                iberiaPlus2: "{!JSENCODE(Account.R1_ACC_TXT_Primary_Frecuent_Flyer_Card__c)}",
                startDate: startDate,
                endDate: endDate
            };

            $Lightning.createComponent("c:tabHandlerComponent", { accountData: jsonParams }, "auraContainer",
                function (cmp) {
                    console.log('component tabHandlerComponent created');
                    $A.eventService.addHandler({ "event": "c:lightningAppExternalEvent", "handler": handleMessageToVF });

                    $A.eventService.addHandler({ "event": "c:lightningAppAdvancedSearchEvent", "handler": handleAdvancedSearch });
                }
            );
        });

        // Fix for scroll breaks after switching tabs
        (function () {
            try {
                var s = document.createElement('style');
                s.innerHTML = "html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
                document.getElementsByTagName('head')[0].appendChild(s);
            } catch (e) { }
        })();

        function handleMessageToVF(event) {
            // openPrimaryTab(event.getParam('data'))
            openSubtab(event.getParam('data'))
        }

        function handleAdvancedSearch(event) {
            var urlToOpen = '/apex/ArchivedEmailSearch?accountId={!Account.id}&contactId={!Account.PersonContactId}';
            var subtabName = '{!Account.id}_advancedSearch';

            sforce.console.getEnclosingPrimaryTabId(function (result) {
                var primaryTabId = result.id;

                sforce.console.focusSubtabByNameAndPrimaryTabId(subtabName, primaryTabId, function focusSuccess(result) {
                    //Report whether going to the subtab was successful
                    if (result.success === false) {
                        sforce.console.openSubtab(primaryTabId, urlToOpen, true, 'Búsqueda avanzada', null, openSuccessSubtab, subtabName);
                    }
                });
            });
        }

        function openPrimaryTab(param) {

            var json = JSON.parse(param);

            var urlToOpen = '/apex/ArchivedEmailDetail?id=' + json['filename'];

            //Open a new primary tab with the url page in it
            sforce.console.openPrimaryTab(null, urlToOpen, true,
                json['subject'] != null ? json['subject'] : 'Email enviado', openSuccess, json['filename']);
        }

        var openSuccess = function openSuccess(result) {
            //Report whether opening the new tab was successful
            if (result.success == true) {
                console.log('Primary tab successfully opened');
            } else {
                console.log('Primary tab cannot be opened');
            }
        };

        function openSubtab(param) {
            sforce.console.getEnclosingPrimaryTabId(function (result) {

                var json = JSON.parse(param);
                var urlToOpen = '/apex/ArchivedEmailDetail?id=' + json['filename'];
                //Now that we have the primary tab ID, we can open a new subtab in it
                var primaryTabId = result.id;

                var subtabName = json['filename'];
                sforce.console.openSubtab(primaryTabId, urlToOpen, false, json['subject'] != null ? json['subject'] : 'Email enviado', null, openSuccessSubtab, subtabName);

                // Try to focus subtab before opening it
                // sforce.console.focusSubtabByNameAndPrimaryTabId(subtabName, primaryTabId, function focusSuccess(result) {
                //     //Report whether going to the subtab was successful
                //     if (result.success === false) {
                //         sforce.console.openSubtab(primaryTabId, urlToOpen, false, json['subject'] != null ? json['subject'] : 'Email enviado', null, openSuccessSubtab, subtabName);        
                //     }
                // });
            });
        }

        var openSuccessSubtab = function openSuccess(result) {
            //Report whether we succeeded in opening the subtab
            if (result.success == true) {
                console.log('subtab successfully opened');
            } else {
                console.log('subtab cannot be opened');
            }
        };

    </script>

</apex:page>