<template>
                    
        
    
            <lightning-layout multiple-rows>
                
                <lightning-layout-item size="8" padding="around-large">
                    <lightning-card  title="Correo original enviado" class="slds-p-around_medium slds-card_boundary">

                        <template if:true={emailData}>
                            <div class="slds-p-around_medium">
                                
                                <lightning-layout >
                                    <template if:true={superUser}>
                                        <lightning-layout-item padding="around-small">
                                            <lightning-button variant="brand" label="Descargar fichero original" 
                                                icon-name="utility:download" icon-position="left" onclick={handleDownloadOriginalFileClick}>
                                            </lightning-button>
                                        </lightning-layout-item>
                                    </template>
                                    <lightning-layout-item padding="around-small">
                                        <lightning-button variant="brand" label="Descargar como PDF" 
                                            icon-name="utility:download" icon-position="left" onclick={handleDownloadPdfFileClick}>
                                        </lightning-button>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </div>
                            <div style="width: 80%;margin: auto;">
                                <iframe src={emailData.externalURLhtml} style="width: 100%;height: 1500px;border: 0">
                                </iframe>
                            </div>
                        </template>

                        <template if:true={loadingEmail}>
                            <div class="exampleHolder">
                                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                            </div>
                        </template>
                    </lightning-card>

                    
                </lightning-layout-item>
            
                <lightning-layout-item size="4" padding="around-large">
                    <lightning-card  title="Datos de tracking del email" class="slds-p-around_medium slds-card_boundary">
                        <template if:true={emailTrackingData}>
                            <div class="slds-m-around_medium slds-border_bottom slds-p-bottom_medium">
                    
                                <lightning-layout >   
                                    <lightning-layout-item size="4" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailData.subject} label="Asunto Email"  class="slds-m-bottom_x-small"></lightning-input> 
                                    </lightning-layout-item>
                                    
                                    <lightning-layout-item size="8" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailData.filename} label="Fichero Importación"  class="slds-m-bottom_x-small"></lightning-input>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </div>
                
                            <div class="slds-m-around_medium slds-p-bottom_medium">
    
                                <lightning-layout >   
                                    <lightning-layout-item size="6" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailTrackingData.notSentDate} label="Fecha Envío Fallido"  class="slds-m-bottom_x-small"></lightning-input> 
                                    </lightning-layout-item>
    
                                    <lightning-layout-item size="6" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailTrackingData.clickDate} label="Fecha Click"  class="slds-m-bottom_x-small"></lightning-input> 
                                    </lightning-layout-item>
    
                                </lightning-layout >   
    
                                <lightning-layout >   
                                    <lightning-layout-item size="6" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailTrackingData.bounceDate} label="Fecha Bounce"  class="slds-m-bottom_x-small"></lightning-input>
                                    </lightning-layout-item>
    
                                    <lightning-layout-item size="6" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailTrackingData.conversionDate} label="Fecha Conversión"  class="slds-m-bottom_x-small"></lightning-input>
                                    </lightning-layout-item>
    
                                </lightning-layout >  
    
                                <lightning-layout >   
                                    <lightning-layout-item size="6" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailTrackingData.openDate} label="Fecha Apertura"  class="slds-m-bottom_x-small"></lightning-input>
                                    </lightning-layout-item>
    
                                    <lightning-layout-item size="6" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailTrackingData.unsubDate} label="Fecha Opt-Out"  class="slds-m-bottom_x-small"></lightning-input>
                                    </lightning-layout-item>
    
                                </lightning-layout >  
    
                                <lightning-layout >   
                                    <lightning-layout-item size="6" padding="horizontal-small">
                                        <lightning-input readonly type="text" value={emailTrackingData.complaintDate} label="Fecha Spam"  class="slds-m-bottom_x-small"></lightning-input>
                                    </lightning-layout-item>
                                </lightning-layout > 
                            </div>
                        </template>
    
                        <template if:false={emailTrackingData}>
                            <div class="slds-m-around_medium slds-p-bottom_medium">
                                <p>No existen datos de tracking para este email</p>
                            </div>
                        </template>
                        <template if:true={loadingEmailData}>
                            <div class="exampleHolder">
                                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                            </div>
                        </template>
                    </lightning-card>

                    
                </lightning-layout-item>
            </lightning-layout>
    
        
        
    
    </template>